environment:
  matrix:
  - julia_version: 0.7
  - julia_version: 1
  - julia_version: nightly

  CONSUMER_KEY:
      secure: K8wqrb6KFCnlyWse5KWZxdA0C0rGSFMFZmqm9qjgdwk=
  CONSUMER_SECRET:
      secure: ywaH4rrRg7d06FeiVQV/7KL/hp3WgDCyEfY98FkF8ZmhWDcPHaM84FGwKFoQ0aXYOd8tjJlXNneVvA2QhOqJpA==
  ACCESS_TOKEN:
      secure: rM6oip93TNEuyIOvZW9GbPgoOCntZq5rfHFojxt7MEjSPTtxgy7ORGTgCmE6ybEiNY5hEQJb2ZGQYu/k9zO6JQ==
  ACCESS_TOKEN_SECRET:
      secure: XJCNe4nb4us8j/eApc/g3jGODZZk1TKBZ9rvd/sv2kyU9fkbAIioWTIIszaFfD6/

platform:
  - x86 # 32-bit
  - x64 # 64-bit
  
# # Uncomment the following lines to allow failures on nightly julia
# # (tests will run but not make your overall status red)
# matrix:
#   allow_failures:
#   - julia_version: latest

branches:
  only:
    - master
    - /release-.*/

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/JuliaCI/Appveyor.jl/version-1/bin/install.ps1"))

build_script:
  - echo "%JL_BUILD_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_BUILD_SCRIPT%"

test_script:
  - echo "%JL_TEST_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_TEST_SCRIPT%"
